.header-section {
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: inherit;
    padding: 15px 0;
}


.header-content {
    display: flex;
    align-items: center;
}

.header__logo {
    display: block;
    height: 40px;
    width: 100px;
    margin-right: 64px;
}

.nav-list {
    display: flex;
    align-items: center;
    margin: 0 -16px;
}

.nav__item {
    margin: 0 16px;
    font-weight: 700;
    font-size: 20px;
}

.nav__link {
    position: relative;
    transition: color 0.3s ease-in-out;

    &:before {
        content: "";
        position: absolute;
        left: -6px;
        top: -6px;
        border: 2px solid $color-primary-active;
        width: calc(100% + 12px);
        height: calc(100% + 12px);
        opacity: 0;
    }

    &:focus {
        outline: none;
        &:before {
            opacity: 1;
        }
    }

    &:hover {
        color: $color-primary;
    }

    &:active {
        transition: none;
        color: $color-primary-active;
    }
}

.header__btn {
    position: relative;
    margin: 0 0 0 auto;
    padding: 17px 32px;
    border: none;
    border-radius: 50px;
    background-color: $color-dark;
    color: $color-light;
    font-family: $font;
    font-size: 16px;
    font-weight: 700;

    &:before {
        content: "";
        position: absolute;
        z-index: 101;
        top: 0;
        left: 0;
        display: block;
        height: 100%;
        width: 100%;
        background-color: $color-primary;
        border-radius: inherit;
        opacity: 0;
        transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
    }

    &:focus,
    &:hover {
        &:before {
            opacity: 1;
            transition: opacity 0.2s;
        }

        span {
            color: $color-dark;
        }
    }

    &:active {
        &:before {
            opacity: 0;
        }

        span {
            color: $color-dark;
        }
    }
}

.header__btn>span {
    position: relative;
    z-index: 105;
    padding: 0;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}