.hero-section {
    padding: 160+80px 0 160px 0;
    color: $color-light;
    background-color: $color-dark;
    background-image: url("../img/stickers_hero.png");
    background-size: 950px auto;
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: bottom;
}

.hero__title {
    @include text--title;
    display: block;
    width: 620px;
    margin-bottom: 36px;
    font-size: 70px;
}

.hero-buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.hero__btn:first-child {
    margin-right: $gap;
}

.hero__btn span {
    padding-left: 49px;
    padding-right: 49px;
}

.hero__btn--transparent {
    background-image: $gradient-primary;
}

.hero__btn--transparent span {
    background-color: $color-dark;
    transition: background-color 0.3s ease-in-out, background-image 0.3s ease-in-out, color 0.3s ease-in-out;
}

.hero__btn--transparent::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    background-color: $color-primary-active;
    border-radius: inherit;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.hero__btn--transparent:focus span,
.hero__btn--transparent:hover span {
    color: $color-dark;
    background-color: transparent;
}

.hero__btn--transparent:active::before {
    opacity: 1;
}

.hero__btn--transparent:active span {
    color: $color-dark;
    background-color: none;
    background-image: none;
}