.hero-section {
    padding: 160+80px 0 160px 0;
    color: $color-light;
    background-color: $color-dark;
    background-image: url("../img/stickers_hero.png");
    background-size: 950px auto;
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: bottom;
}

.hero__title {
    @include text--title;
    display: block;
    width: 620px;
    margin-bottom: 36px;
    font-size: 70px;
}

.hero-buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.hero__btn {
    // position: relative;
    @include text--caption;
    display: block;
    border-radius: 40px;
    padding: 25px 5px;
    margin-right: $gap;
    color: $color-dark;
    background: linear-gradient(180deg, $color-primary 27.08%, $color-primary-active 100%);

}

.hero__btn-text{
    padding: 20px 49px;
}

.hero__btn:nth-child(2) > .hero__btn-text{
    color: $color-light;
    border-radius: inherit;
    background: $color-dark;
}