.top {
    padding-bottom: 57px;
    background-color: $color-dark;
  }
  
  .top__title {
    @include text--title;
    margin-bottom: $gap;
    color: $color-light;
  }
  
  .top__list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .top__item {
    margin-bottom: $gap;
    width: calc(50% - ($gap)/2);
  }
  
  .top__item:not(:nth-child(2n)) {
    margin-right: $gap;
  }
  
  .top-product {
    display: flex;
    border-radius: 40px;
    background-color: $color-light;
  }
  
  .top-product__image {
    margin-right: $gap;
    border-radius: 40px 0px 0px 40px;
    padding: 16px;
    padding-right: 0;
    margin-right: -16px;
    background: $color-gray-light;
  }

  .top-product__image img {
    width: 142px;
  }

  .top-product__info {
    align-self: stretch;
    padding: 32px;
    background-color: $color-light;
  }

  .top-product__info-wrap {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  .top-product__owner-wrap {
    display: flex;
    align-items: center;
  }
  
  .top-product__title {
    @include text--caption;
    font-size: 48px;
  }
  
  .top-product__price {
    @include text--caption;
  }
  
  .top-product__price-dollars {
    color: $color-gray-middle;
  }
  
  