//- PUG document
doctype html
html(lang='ru') 
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Aura - коллекция стикеров

body
  include ./pug-modules/_header.pug
  main
    include ./pug-modules/_hero.pug
    include ./pug-modules/_bet.pug
    include ./pug-modules/_auction.pug
    include ./pug-modules/_new.pug
    include ./pug-modules/_subscribe.pug
    include ./pug-modules/_become-author.pug
    include ./pug-modules/_top.pug
    include ./pug-modules/_top-info.pug
  include ./pug-modules/_footer.pug