//- Mixin declaration
mixin auction__item(src_sticker_picture, src_owner_avatar, owner_name, sticker_name, price, time)
    li.auction__item
        article.auction-product
                    .auction-product__image
                    img.auction-product__picture(src = src_sticker_picture alt = 'изображение стикера ' + sticker_name)
                    .auction-product__info
                    .auction-owner
                        img.auction-owner__avatar(src = src_owner_avatar alt = 'Аватар пользователя ' + owner_name)
                        span.auction-owner__nickname #{owner_name}
                        h3.auction-product__title #{sticker_name}
                        span.auction-product__price #{price}
                        span.auction-product__timer #{time}

//- section auction
section.auction
  .container
    h2.auction__title 
    ul.auction__list
      +auction__item('#', 'img1', 'Frank.Nagval','Alien (green) e_e', '0.02 ETH', '03 часа 25 мин 23 сек')
    a.btn.auction-more(href='#' target='_blank')
    span.auction-more__text Все аукционы