section.become-author
    .container
        .become-author__wrap
            .become-author__info
                h2.become-author__title Стать автором
                p.become-author__text Если ты художник или стремишься им стать — добро пожаловать к нам!
                p.become-author__text Отправь нам от трёх до пяти своих работ и напиши свой ник в телеграме. Если наши кураторы решат, что нам по пути, то мы обязательно свяжемся с тобой и обговорим условия сотрудничества! 
                    b Удачи!
                .become-author__decoration
            .become-author__form
                label.file.become-author__file
                    span.file__icon
                    span.file__text Прикрепить работы (.jpeg / .png)
                    input(type="file" accept="image/*").file__input
                input(type="text" placeholder="@telegram_nickname")
                .become-author__btn-wrap
                    button.become-author__btn
                        span.btn__text Отправить
