section.bet
      .container
        h2.bet__title Аукцион
          span.bet__state Live auction
        .bet__content
          img(src='#' alt='№')
          .bet__info
            .bet__owner
              img.bet-owner__avatar(src='#' alt='№')
              span.bet-owner__nickname
            h3.bet-section__subtitle
            .bet__props
              .bet
                span.bet__caption Ставка:
                span.bet__price
                span.bet__price-dollars
              .bet-timer
                span.auction-timer__caption Окончание через:
                .bet-timer__part
                  span.bet-timer__hour-value
                  span.bet-timer__-text Час
                .bet-timer__part
                  span.auction-timer__minut-value
                  span.auction-timer__-text Мин
                .bet-timer__part
                  span.auction-timer__second_value
                  span.auction-timer__text Сек
            button.btn.auction-bet-section__btn Сделать ставку



