footer.footer
    .footer-top
        .container
            .footer-top__wrap 
                a.logo(href="")
                ul.footer__list
                    li.footer-item
                        a.footer-link(href="") 
                    li.footer-item
                        a.footer-link(href="") 
                    li.footer-item
                        a.footer-link(href="")  
    .footer-bottom
        span AURA
            sup ®
        | 2021