header.header
    .container
      nav.nav
        a.header__logo(href='#')
 
          img.logo-picture(src='#' alt='Логотип сайта Aura')
        ul.nav__list
          li.nav__item
            a.nav__link(href='#' target='_blank')
          li.nav__item
            a.nav__link(href='#' target='_blank')
          li.nav__item
            a.nav__link(href='#' target='_blank')
        button.header__btn.btn__log-in Войти
