section.hero
    .container
        h1.hero__title Площадка для реализации криптостикеров
            .hero__buttons
                a.hero__btn(href='#')
                    span.hero__btn-text Купить
                a.hero__btn(href='#')
                    span.hero__btn-text Стать автором