section.subscribe
      .container
        h2.subcribe__title Будь в курсе новинок! Подпишись на рассылку! 
        form.subscribe__form(action='#')
          input.form-input.subscribe-form__input.form-input--dark(type='text' placeholder='Имя' name='name')
          input.form-input.subscribe-form__input.form-input--dark(type='email' placeholder='E-mail' name='email')
          button.btn.btn--fill.subscribe-form__btn
            span.btn__text Подписаться
          label.checkbox
            input.checkbox__input(type='checkbox' name='checkbox' id='#')
            span.checkbox__text Согласен на обработку персональных данных