section.top
    .container
        h2.top__title Топ продаж
        ul.top_list
            li.top__item
                article.top-product
                    .top-product__image
                        img(src="", alt="")
                    .top-product__info
                      .top-product__owner
                        img(src="", alt="").auction-owner__avatar
                        span.auction-owner__nickname
                      h3.top-product__title
                      .top-product__price
                        span.top-product__price-dollars

            

