section.top-info
      .container
            .top-info__text-wrap
                  h2.top-info__title Для попадания в топ необходимо:
                  ul.top-info__list
                        li.top-info__item Минимум пять опубликованных работ
                        li.top-info__item Инвайт трём коллегам по цеху
                        li.top-info__item Верифицированный аккаунт
            .top-info__decoration