* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: $font;
    background-color: $color-light;
}

section {
    padding: 90px 0;
}

img {
    display: block;
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1304px;
    margin: 0 auto;
    padding: 0 12px;
}

.btn {
    @include text--caption;
    position: relative;
    display: block;
    padding: 5px;
    border-radius: 40px;
    border-width: 0px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    span {
        display: block;
        padding: 20px 69px;
        border-radius: inherit;
    }

    &:active {
        transition: none;
        background-image: none;
        background-color: $color-primary-active;
    }
}

.btn--filled {
    color: $color-dark;
    background-color: $color-primary;

    &:before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        display: block;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(180deg, $color-primary 27.08%, $color-primary-active 100%);
        border-radius: inherit;
        opacity: 0;
        transition: opacity 0.3s;
    }

    &:focus,
    &:hover {
        &:before {
            opacity: 1;
            transition: opacity 0.2s;
        }
    }
    &:active {
        &:before {
            opacity: 0;
        }
    }
}


.btn--gradient {
    color: $color-dark;
    background-image: $gradient-primary;
    &:before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        display: block;
        height: 100%;
        width: 100%;
        background-color: $color-primary;
        border-radius: inherit;
        opacity: 0;  
        transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
    }

    &:focus,
    &:hover {
        &:before {
            opacity: 1;
            transition: opacity 0.2s;
        }
    }
    &:active {
        &:before {
            opacity: 0;
        }
    }
}


.btn>span {
    position: relative;
    z-index: 5;
}