* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font;
    background-color: $color-light;
}

section{
    padding: 90px 0;
}
  
img {
    display: block;
    max-width: 100%;
}
  
a {
    text-decoration: none;
    color: $color-dark;
}
  
ul {
    list-style: none;
}

.container {
    max-width: 1304px;
    margin: 0 auto;
    padding: 0 12px;
    // border: 1px solid red;
}

.form-input {
    display: block;
    width: 100%;
    padding: 24px $gap;
    border: none;
    border-radius: 40px;
    font-size: 20px;
    line-height: 1;
  }