* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font;
    background-color: $color-light;
}
  
img {
    display: block;
    max-width: 100%;
}
  
a {
    text-decoration: none;
    color: $color-dark;
}
  
ul {
    list-style: none;
}

.container {
    width: 1280px;
    margin: 0 auto;
    border: 1px solid red;
}