@mixin form__input {
    display: block;
    width: 100%;
    padding: 24px $gap;
    border: none;
    border-radius: 40px;
    font-size: 20px;
    line-height: 1;
}


@mixin text--title {
    font-family: $font-title;
    font-size: 60px;
    line-height: 1.2;
}

@mixin text--caption {
    font-family: $font;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
}

@mixin text--paragraph {
    font-family: $font;
    font-size: 20px;
    line-height: 1.5;
}